params {
    metadata = 'metadata2.txt'
    demux = 'demux-paired-end-ellecyn3.qza'
    demuxFilterSamplesString = "[od.num] <> 'NA' AND [body.site] <> 'T' AND [location] <> 'LB' AND [location] <> 'UT'"
    dada2DenoisePairedTruncLenF = 0
    dada2DenoisePairedTruncLenR = 241
    classifier = 'silva-138-99-nb-classifier.qza'
    taxaFilterTableExcludeString = 'Archaea,Eukaryota,Chloroplast,Mitochondria,Wolbachia,Rickettsia'
    samplingDepth = 383
    columns = ['body.site', 'location', 'water.type', 'sex', 'suborder', 'family']
    ancombcSignificanceThreshold = 0.05
}

process {

    executor = 'slurm'
    clusterOptions = '--qos=standby'
    errorStrategy = 'retry'
    maxRetries = 2

    memory = 80.GB
    time = 4.h
    cpus = 12

    publishDir = [
        path: 'output'
    ]

    withName: dada2DenoisePaired {
        memory = 120.GB
    }

    withName: diversityCoreMetricsPhylogenetic {
        publishDir = [
            path: 'output',
            saveAs: {file(it).name}
        ]
    }

}